*.o
*.a
*.deps
*Makefile.in
*Makefile
scripts/ifppc_down.setuid
scripts/ifppc_up.setuid
src/debug/debugparse.c
src/debug/debugparse.h
src/debug/lex.c
src/ppc
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
stamp-h1
ylwrap
