*CMakeFiles
*cmake_install.cmake
*.DS_Store
*.o
*.a
*.deps
*.pbxuser
*.perspectivev3
*Makefile.in
*Makefile
*.sln
*.suo
*.ncb
*.vcproj
*.vcproj.*.user
*.pdb
*.idb
*.dir
*.rule
scripts/ifppc_down.setuid
scripts/ifppc_up.setuid
src/debug/debugparse.c
src/debug/debugparse.h
src/debug/lex.c
src/stdafx.h.gch
src/build_number.h
src/ppc-*
xcode/build
CMakeCache.txt
bootfile.dump
nvram
